@font-face {
	font-family: 'fantasy Medium';
	font-style: normal;
	font-weight: bold;
	src: local('fantasy Medium'), url('OratorStd.woff') format('woff');
}

body, h1, h2, h3, p {
	font-family:'fantasy Medium';
	font-weight:normal;
	margin: 0;
	padding: 0;
	font-size: 1em;
	color: #333;
	height:100%;
	
	
}

#content {
	font-family:'fantasy Medium';
	font-weight:normal;
	margin: 5px;
	padding: 10px;
	width: 805px;
	border: 1px solid #ccc;
	
}

#map {
	font-family:'fantasy Medium';
	font-weight:normal;
	margin: 0px 0px 0px 0px;
	padding: 0px;
}

#pie {
	width: 870px;
	height: 400px;
	margin: 0 auto;
}

#chart {
	width: 400px;
	height: 400px;
}

#legendWrapper {
	/* float: left; */
	width: 380px;
	height: 480px;
	/* padding-right: 20px; */
}

#chart, #legendWrapper {
	float: left;
		
}

#imgHolder {
	width: 40%;
	padding: 120px;
	/* margin: 0 auto; */
	margin-right: 15px;
	padding-right: 120px;

}

#legend {
    max-width: 160%;
    max-height: 160%;
}


h1, h2 {
	font-family:'fantasy Medium';
	font-weight:normal;
	line-height: 1em;
	font-size: 1.75em;
	font-weight: 900;
	color: #000;
	/* background-color: rgb(225, 232, 245); */
	}

h2.year, h2.count {
	font-family:'fantasy Medium';
	font-weight:normal;
	margin: 0px 0px 0px 0px;
	font-size: 1.3em;
	font-weight: 700;
}

p {
	font-family:'fantasy Medium';
	font-weight:normal;
	margin: 00px 0px 0px 0px;
}

input {
	font-family:'fantasy Medium';
	font-weight:normal;
	display: block;
	width: 200px;
	margin: 0px 0px 0px 0px;
}

.states {
	fill: rgb(192, 201, 183);
	stroke: #ffffff;
	stroke-width: 2;
	stroke-linejoin: round;
}

.sightings{
	fill: rgb(69, 71, 201);
	stroke: rgb(3, 5, 122);
	stroke-width: 2;
}

.sightings:hover{
	fill: rgb(197, 190, 197);
	stroke: rgb(117, 115, 117);
}

.tooltipMap{
	font-family:'fantasy Medium';
	font-weight:normal;
	background: rgb(192, 201, 183);
	box-shadow: 0 0 5px rgb(57, 69, 181);
	color: #333;
	font-size: 12px;
	left: 130px;
	padding: 10px;
	position: absolute;
	text-align: center;
	top: 95px;
	width: 100px;
	z-index: 10;
	display: block;
	opacity: 0;
}

.tooltipMap p {
	font-family:'fantasy Medium';
	font-weight:normal;
	margin: 0;
	padding: 0;
}

.tooltipChart{
	font-family:'fantasy Medium';
	font-weight:normal;
	background: rgb(192, 201, 183);
	box-shadow: 0 0 5px rgb(57, 69, 181);
	color: #333;
	font-size: 12px;
	left: 130px;
	padding: 10px;
	position: absolute;
	text-align: center;
	top: 95px;
	width: 80px;
	z-index: 10;
	display: block;
	opacity: 0;
}

.arc path {
	stroke: #fff;
	stroke-width: 2;
}

.arc path:hover{
	fill: rgb(192, 201, 183);
	stroke: rgb(57, 69, 181);
}