html,
body {
  padding: 0;
  margin: 0;
  background: rgb(198, 199, 196);
}


.axis {
  font: 14px sans-serif;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}


.myCircle:hover {
  stroke: black;
}

.mousemove{stroke: whitesmoke;
  fill: whitesmoke;

  .axisRed line{
    stroke: red;
  }
  
  .axisRed path{
    stroke: red;
  }
  
  .axisRed text{
    fill: red;
  }  
